# Data Analysis & Visualization
pandas
numpy
matplotlib
scipy

# Database & Engineering
sqlalchemy
python-dotenv

# API & Backend (Project 3)
requests
fastapi
uvicorn

#configuration
pyyaml

# Testing
pytest
